<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Коротко обо мне</title>
</head>
<body>
    {{> header}}
    {{> nav}}
    <p>Сделано на hbs /ᐠ. .ᐟ\ฅ </p>
    {{> footer}}
</body>
</html>