doctype html
html
  head
  title обо мне
  body
    header Это header

    nav 
        a(href="/about_me") HBS |
        a(href="/about_me/EJS") EJS
    
    p страница сделана PUG
    footer памагите пожалуйста